@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(196, 196, 208);
  color: rgb(49, 49, 52);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1, h2, h3, #portfolio-btn {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
}

h1 {
  margin-top: 8px;
  font-size: 32px;
}

h2 {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 24px;
}

h3 {
  margin-top: 0;
  font-size: 16px;
}

p {
  margin: 24px auto -8px;
  text-align: justify;
  width: 80%;
}

a {
  text-decoration: none;
  color: rgb(160, 100, 52);
}

a:hover {
  color: rgb(140, 60, 12);
  transition-delay: 0.2;
}

ul {
  list-style-type: none;
  padding: 0;
}

#profile-pic{
  width: 120px;
}

#portfolio-btn {
  position: relative;
  display: block;
  font-size: 20px;
  width: 200px;
  height: 40px;
  color: rgb(10, 72, 144);
  background-color: rgb(200, 140, 92);
  padding: 8px 16px;
  top: 32px;
  margin: auto
}

#portfolio-btn:hover {
  color: rgb(5, 36, 77);
  background-color: rgb(140, 60, 12);
}

.horizontal-list {
  display: inline-block;
}

.rounded-corners {
  border-radius: 16px;
}

.container {
  background-image: url("images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
}

.card {
  background-color: rgb(222, 222, 230);
  width: 560px;
  margin: 0 auto 40px;
  padding: 16px 24px;
  text-align: center;
}

.shadow {
box-shadow: 0 0 8px rgba(168, 168, 176, 0.9);
}

.hover-zoom:hover {
  transform: scale(1.1);
}

.social-media {
  font-size: 24px;
  padding: 0 8px;
}

@media (max-width: 720px) {
  /* For a screen < 960px, this CSS will be read */
  .card {
    width: 78%;
  }
}

@media (max-width: 400px) {
  .card {
    width: 100%;
  }
}
